# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


#Windows and visual studio specific
*.exe
*.dll
*.ncb
*.user

#Folders
*/Windows Mobile 5.0 Pocket PC SDK (ARMV4I)/*
*/Motorola MC3100c60 Windows CE6.0 PSDK (ARMV4I)/*